################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EWSTest.cs
/.vs/BCM Migration Tool/v15/Server/sqlite3
/.vs/BCM Migration Tool/v15/sqlite3
